<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SketchBook</display-name>
  <welcome-file-list>
    <welcome-file>ProductView.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
        <location>/general-error.jsp</location>
  </error-page>
  <resource-ref>
    <description>JNDI reference to a data source</description>
    <res-ref-name>jdbc/ecommerce</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<servlet-class>control.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AggiungiProdottoController</servlet-name>
  	<servlet-class>control.AggiungiProdottoController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModProdottoController</servlet-name>
  	<servlet-class>control.ModProdottoController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModUserController</servlet-name>
  	<servlet-class>control.ModUserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModPagamentoController</servlet-name>
  	<servlet-class>control.ModPagamentoController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModIndirizzoController</servlet-name>
  	<servlet-class>control.ModIndirizzoController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AggiungiMetodoController</servlet-name>
  	<servlet-class>control.AggiungiMetodoController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AggiungiIndirizzoController</servlet-name>
  	<servlet-class>control.AggiungiIndirizzoController</servlet-class>
  </servlet>
    <servlet>
  	<servlet-name>CheckoutController</servlet-name>
  	<servlet-class>control.CheckoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EliminaProdottoController</servlet-name>
  	<servlet-class>control.EliminaProdottoController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CartController</servlet-name>
  	<servlet-class>control.CartController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SvuotaCarrelloController</servlet-name>
  	<servlet-class>control.SvuotaCarrelloController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductDetails</servlet-name>
  	<servlet-class>control.ProductDetails</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductControl</servlet-name>
    <servlet-class>control.ProductControl</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>LogoutController</servlet-name>
  	<servlet-class>control.LogoutController</servlet-class>
  </servlet>
   <servlet>
   	<servlet-name>OrderController</servlet-name>
   	<servlet-class>control.OrderController</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>SearchController</servlet-name>
   	<servlet-class>control.SearchController</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>SearchByDateController</servlet-name>
   	<servlet-class>control.SearchByDateController</servlet-class>
   </servlet>
    <servlet>
   	<servlet-name>SearchByNameController</servlet-name>
   	<servlet-class>control.SearchByNameController</servlet-class>
   </servlet>
   <servlet>
  	<servlet-name>SignUpController</servlet-name>
  	<servlet-class>control.SignUpController</servlet-class>
  </servlet>
   <servlet>
   	<servlet-name>FoundProdController</servlet-name>
   	<servlet-class>control.FoundProdController</servlet-class>
   </servlet>
   <servlet-mapping>
  	<servlet-name>SignUpController</servlet-name>
  	<url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AggiungiIndirizzoController</servlet-name>
  	<url-pattern>/aggiungiindirizzo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductDetails</servlet-name>
  	<url-pattern>/details</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EliminaProdottoController</servlet-name>
  	<url-pattern>/eliminaProdotto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutController</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckoutController</servlet-name>
  	<url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AggiungiMetodoController</servlet-name>
  	<url-pattern>/aggiungimetodo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CartController</servlet-name>
  	<url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModIndirizzoController</servlet-name>
  	<url-pattern>/modindirizzo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModUserController</servlet-name>
  	<url-pattern>/moduser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModPagamentoController</servlet-name>
  	<url-pattern>/modpagamento</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModProdottoController</servlet-name>
  	<url-pattern>/modprod</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>AggiungiProdottoController</servlet-name>
  	<url-pattern>/addprod</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchController</servlet-name>
  	<url-pattern>/search</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>SearchByNameController</servlet-name>
  	<url-pattern>/searchbyname</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchByDateController</servlet-name>
  	<url-pattern>/searchbydate</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>SvuotaCarrelloController</servlet-name>
  	<url-pattern>/svuota</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductControl</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderController</servlet-name>
  	<url-pattern>/orders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FoundProdController</servlet-name>
  	<url-pattern>/found</url-pattern>
  </servlet-mapping>
</web-app>